name: Spentiva Node Js Backend Server

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/spentiva-app-server:latest

      - name: Check Node.js version in built image
        run: |
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/spentiva-app-server:latest
          docker run --rm ${{ secrets.DOCKERHUB_USERNAME }}/spentiva-app-server:latest node -v
          docker run --rm ${{ secrets.DOCKERHUB_USERNAME }}/spentiva-app-server:latest npm -v

      - name: Deploy via SSH and Docker
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/spentiva-app-server:latest
            docker stop spentiva-app-server || true
            docker rm spentiva-app-server || true
            docker run -d --name spentiva-app-server -p 8002:8002 -e PORT=8002 -e OPENAI_API_KEY="${{ secrets.OPENAI_API_KEY }}" -e MONGODB_URL="${{ secrets.MONGODB_URL }}" -e JWT_SECRET="${{ secrets.JWT_SECRET }}" --restart=always ${{ secrets.DOCKERHUB_USERNAME }}/spentiva-app-server:latest
